# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env/
venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs / outputs (optional)
resources/output_classified*
resources/output.csv
